
<style>
    .fa-brands{
    color: black;
    }
.custom-shape-divider-top-1669539737 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1669539737 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 89px;
}

.custom-shape-divider-top-1669539737 .shape-fill {
    fill: #FFFFFF;
}

/** For tablet devices **/
@media (min-width: 768px) and (max-width: 1023px) {
    .custom-shape-divider-top-1669539737 svg {
        width: calc(100% + 1.3px);
        height: 110px;
    }
}

/** For mobile devices **/
@media (max-width: 767px) {
    .custom-shape-divider-top-1669539737 svg {
        width: calc(100% + 1.3px);
        height: 84px;
    }
}


</style>
<body style="">
<div style="position: relative; z-index: -1;">
<div class="custom-shape-divider-top-1669537715">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path d="M1200 0L0 0 598.97 114.72 1200 0z" class="shape-fill"></path>
    </svg>
</div>
    </div>
<div class="pikachu" style="display: flex; align-items: center; justify-content: center; padding:1% 10% 0 10%; margin-top: 350px;">
    <div class="row text-center">
        <div class="col-lg-12">
            <img src="static/photos/logo.png" style="height: 150px; width: 150px; border-radius: 100%">
        </div>

        <div style="position: relative; padding-top: 130px; background-color: #B8E8FC; padding-bottom: 50px;" >
<div class="custom-shape-divider-top-1669539737">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path d="M1200,0H0V120H281.94C572.9,116.24,602.45,3.86,602.45,3.86h0S632,116.24,923,120h277Z" class="shape-fill"></path>
    </svg>
</div>
            <div class="row">
        <div class="col-lg-4">
            <a href="https://twitter.com/__Inderjot"><i class="fa-brands fa-twitter fa-3x"></i></a>
        </div>
        <div class="col-lg-4">

            <a href="https://www.instagram.com/inderjot1112/"><i class="fa-brands fa-instagram fa-3x"></i></a>
        </div>
        <div class="col-lg-4">

            <a href="https://www.linkedin.com/in/inderjot-singh-4a5404226/?"><i class="fa-brands fa-linkedin-in fa-3x"></i></a>
        </div>
    </div>
            </div>
    </div>

</div>

</body>