{% include "layout.html" %}
<!--FF8B8B-->
<style>
    nav{
    background: #FAD4D4;
    }

#navva a:hover{
background: #FF8B8B;
color: black;
}


</style>

<div class="container-fluid background1 img">
    <div class="row justify-content-end">
        <div class="col margin_add ">
            <h1 class="title" style="color: #FF8B8B;"> Inder-Foodz</h1>
            <p class="textheading" style="font-size: 2rem;"> Recepies for available ingredients</p>
            <p class="typewrite textheading" data-period="2000" data-type='[ "*Healthy*", "*Easy Instructions*", " *Nutritional data*", "*Allergy Free*" ]'
               style="font-size: 2rem; color: #FF8B8B;">
                <span class="wrap textheading " style="font-size: 2rem;"></span>
            </p>
            <p class="textheading" style="font-size: 2rem;"> Sign In Now </p>


            <a class="btn btn-success btn-lg" href="/login" role="button"
               style="margin-right: 2%; padding-left:4%; padding-right: 4%;">Login</a>

            <a class="btn btn-success btn-lg" href="/register" role="button">Register</a>


        </div>
    </div>

</div>
</body>
</html>